@model IEnumerable<Bank.Models.Tranzaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountIban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountIban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.BankAccountID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TranzactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TranzactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TranzactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
