@model Bank.Models.AccountType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetreatPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetreatPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetreatFixSume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetreatFixSume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositFixSume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositFixSume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
